
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}


<h2>Lista Com Emails</h2>
<p>
    @Html.ActionLink("Lista com Telefones", "Lista2")
</p>

@Html.Action("ListaComEmail", "Home", true)
